<div class="lastcards"></div>

<div class="footer">
  <br /><br /> <br /><br />
  <h6>FOLLOW AVATAR</h6>

  <section class="mb-4">
    <!-- Facebook -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://www.facebook.com/Avatar"
      role="button"
      ><i class="fab fa-facebook-f"></i
    ></a>

    <!-- Twitter -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://twitter.com/officialavatar"
      role="button"
      ><i class="fab fa-twitter"></i
    ></a>

    <!-- Instagram -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://www.instagram.com/avatar/"
      role="button"
      ><i class="fab fa-instagram"></i
    ></a>
    <!-- Youtube -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://www.youtube.com/officialavatar"
      role="button"
      ><i class="fa fa-youtube-play fa-lg"></i
    ></a>
  </section>



  <!-- <div class="line2"></div> -->
  <div class="footermain">
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a
        class="flex-sm-fill text-sm-center nav-link"
        aria-current="page"
        href="https://privacy.thewaltdisneycompany.com/en/"
        target="_blank"
        >Terms of Use</a
      >
      <a
        class="flex-sm-fill text-sm-center nav-link"
        target="_blank"
        href="https://privacy.thewaltdisneycompany.com/en/"
        >Privacy Policy</a
      >
      <a
        class="flex-sm-fill text-sm-center nav-link"
        target="_blank"
        href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy/"
        >Children's Online Privacy Policy</a
      >
      <a
        class="flex-sm-fill text-sm-center nav-link"
        target="_blank"
        href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/your-california-privacy-rights/"
        >Your California Privacy Rights</a
      >
      <a
        class="flex-sm-fill text-sm-center nav-link"
        target="_blank"
        href="https://www.shopdisney.com/search?q=avatar&amp;start=0"
        >Avatar at shopDisney</a
      >
      <a
        class="flex-sm-fill text-sm-center nav-link"
        target="_blank"
        href="http://preferences-mgr.truste.com/?type=disneycolor&amp;affiliateId=115"
        >Interest-Based Ads</a
      >
      <a
        class="flex-sm-fill text-sm-center nav-link"
        target="_blank"
        href="https://privacyportal-de.onetrust.com/webform/64f077b5-2f93-429f-a005-c0206ec0738e/0a4f1f0b-7130-421f-971d-ef578c0bce6d"
        >Do Not Sell My Personal Information</a
      >
    </nav>
    <br>
    <section class="mb-4">
      <p>
        ©2022 20th Century Studios. JAMES CAMERON'S AVATAR is a trademark of 20th Century Studios. All Rights Reserved.
      </p>
    </section>
  </div>
</div>
