<div class="container">
  <span class="news"><h2 style="font-family: serif">LATEST NEWS</h2></span>
  <span class="line"></span>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <div class="card">
            <div>
              <a href="https://www.youtube.com/watch?v=F6-gmubgjzQ" target="_blank">
                <img
                src="/assets/one 1.jpeg "
                style="height: auto"
                class="card-img-top"
                id="img1"
                alt="..."
              />
              </a>

              <div>
                <a href="https://www.youtube.com/embed/F6-gmubgjzQ" >

                  <img
                    src="https://static-mh.content.disney.io/matterhorn/assets/avatar/avatar_play_button-c473db149c5c.svg "
                    style="height: 40px; margin-top: -180px"
                    class="card-img-top"
                    id="img1"
                    alt="..."
                  />
                </a>
              </div>
            </div>
            <div class="card-body">
              <h6 style="margin-top: -20px;">Video</h6>
              <h5 class="card-title">
                <b><i>AVATAR : THE WAY OF WATER| KEEP OUR OCEANS AMAZING</i></b>
              </h5>
              <p class="card-text">
                Help us keep our oceans amazing.<br />
                💙 Create your very own <i>Avatar</i>-inspired ocean creature
                from now 12/31/22 and for every creature created in the Virtual
                Pandoran Ocean,<br />
                Disney will give $5 to The Nature Conservancy.
              </p>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <a
              href="https://d23.com/disney-twenty-three-journeys-to-pandora-going-behind-the-scenes-of-the-next-level-storytelling-of-avatar-the-way-of-water/"
              target="_blank"
              ><img
                src="/assets/1.jpeg "
                style="height: auto"
                class="card-img-top"
                id="img1"
                alt="..."
            /></a>
            <div class="card-body">
              <h6>News</h6>
              <h5 class="card-title">
                <i>Disney twenty-three</i> Journeys to Pandora, Going Behind the
                Scenes of <i>Avatar: The Way of Water</i>
              </h5>
              <p class="card-text">
                The Winter issue of <i>Disney twenty-three</i> features dazzling
                details on Disney100 Years of Wonder, plus exclusives on
                <i>Avatar: The Way of Water</i> and more can't miss movies.
              </p>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <a href="https://www.instagram.com/p/CKE6Wkdl0SK/" target="_blank">  <img
              src="/assets/2.png "
              style="height: auto"
              class="card-img-top"
              id="img1"
              alt="..."
            /></a>

            <div class="card-body">
              <a href="https://www.instagram.com/avatar/" target="_blank"
              ><i class="fa fa-instagram fa-lg"></i
            ></a>
              <h5 class="card-title">
                New Avatar 2 Concept Art
              </h5>
              <p class="card-text">
                Created by Jonathan Bach, one of the talented concept artists in our #AvatarFamily. To learn more about this artist and his work...
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <a href="https://twitter.com/officialavatar/status/1519677927100624897" target="_blank">  <img
              src="/assets/3.jpeg "
              style="height: auto"
              class="card-img-top"
              id="img1"
              alt="..."
            /></a>

            <div class="card-body">
              <h6>News</h6>
              <h5 class="card-title">
                <i>Avatar: The Way of Water</i>
              </h5>
              <p class="card-text">
                We officially have a title!
              </p>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <a href="https://twitter.com/officialavatar/status/1488201582126649345" target="_blank"><img
              src="/assets/4.jpeg "
              style="height: auto"
              class="card-img-top"
              id="img1"
              alt="..."
            /></a>

            <div class="card-body">
              <h6>News</h6>
              <h5 class="card-title">
                The World of Avatar: A Visual Exploration
              </h5>
              <p class="card-text">
                Now available for pre-order, this book celebrates, explores, and explains the spectacular world of Pandora—its extraordinary geology, flora and fauna, and the customs and beliefs of its people, the Na’vi.
              </p>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <a href="https://www.empireonline.com/movies/news/avatar-2-spider-jake-neytiris-adopted-human-son-exclusive-image/" target="_blank"> <img
              src="/assets/5.jpeg "
              style="height: auto"
              class="card-img-top"
              id="img1"
              alt="..."
            /></a>

            <div class="card-body">
              <h6>News</h6>
              <h5 class="card-title">
                Avatar 2: Meet Spider, Jake And Neytiri’s Adopted Human Son
              </h5>
              <p class="card-text">
                A lot has changed on Pandora in the 13-year gap between <i>Avatar</i> and <i>Avatar 2</i> (arriving in 2022).
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <a href="https://ew.com/movies/james-cameron-filming-avatar-2-100-percent-complete/" target="_blank"><img
              src="/assets/6.jpeg "
              style="height: auto"
              class="card-img-top"
              id="img1"
              alt="..."
            /></a>

            <div class="card-body">
              <h6>News</h6>
              <h5 class="card-title">
                A lot has changed on Pandora in the 13-year gap between <i>Avatar</i> and <i>Avatar 2</i> (arriving in 2022).
              </h5>
              <p class="card-text">
                The director returns to Pandora with the first of four planned <i>Avatar</i> sequels, combining innovative performance-capture and his lifelong love for the ocean.

              </p>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <a href="https://www.gamesradar.com/avatar-producer-teases-the-four-sequels-the-connected-story-arc-creates-an-even-larger-epic-saga/" target="_blank">   <img
              src="/assets/7.jpeg "
              style="height: auto"
              class="card-img-top"
              id="img1"
              alt="..."
            /></a>

            <div class="card-body">
              <h6>News</h6>
              <h5 class="card-title">
                Avatar Producer Teases the Four Sequels
              </h5>
              <p class="card-text">
                Exclusive: Jon Landau reveals some of the first
              </p>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <a href="https://ew.com/movies/james-cameron-filming-avatar-2-100-percent-complete/" target="_blank">

              <img
                src="/assets/8.jpeg "
                style="height: auto"
                class="card-img-top"
                id="img1"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h6>News</h6>
              <h5 class="card-title">
                James Cameron Says Filming On Avatar 2 Is '100 Percent Complete'
              </h5>
              <p class="card-text">
                It's been a long time coming, but James Cameron's<i>Avatar </i>sequels are finally close to the finish line.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <a href="https://www.hollywoodreporter.com/news/general-news/how-avatar-reclaimed-its-global-box-office-crown-4152277/ " target="_blank">

              <img
                src="/assets/9.jpeg"
                style="height: auto"
                class="card-img-top"
                id="img1"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h6>News</h6>
              <h5 class="card-title">
                How Avatar Reclaimed Its Global Box office Crown
              </h5>
              <p class="card-text">
                James Cameron’s 2009 blockbuster retakes the all-time record from <i>Avengers: Endgame</i>.
              </p>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <a href="https://www.cinemablend.com/news/2566143/avatar-2s-kate-winslet-drinking-the-kool-aid-joining-james-camerons-sequel-titanic" target="_blank">

              <img
                src="/assets/10.jpeg "
                style="height: auto"
                class="card-img-top"
                id="img1"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h6>News</h6>
              <h5 class="card-title">
                Avatar 2’s Kate Winslet On Joining James Cameron’s Sequel
              </h5>
              <p class="card-text">
                Actress Kate Winslet has had an acclaimed film career, picking up an Oscar, Emmy, and other various awards along the way.
              </p>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <a href="https://www.facebook.com/photo?fbid=248428603599336&set=a.1637328954022410" target="_blank">

              <img
                src="/assets/8.jpeg "
                style="height: auto"
                class="card-img-top"
                id="img1"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h6>News</h6>
              <h5 class="card-title">Michelle Yeoh Kept Jim Busy Between Set-ups While Filming Avatar 3!</h5>
              <p class="card-text">

              </p>
            </div>
          </div>
        </div>
      </div>
      </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <button style=" border-style: none!important;background-color: white; " >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="40px"
          height="44px"
          viewBox="0 0 44 44"
          version="1.1"


        >
          <title>button / arrow primary hover</title>
          <g
            id="button-/-arrow-primary-hover"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="LightBG"
              transform="translate(2.000000, 0.000000)"
              fill-rule="nonzero"
            >
              <path
                d="M20.5000711,1 C22.056732,1 23.6122988,1.63545316 24.7603897,2.90237424 L24.7603897,2.90237424 L38.4888192,18.0490587 C39.4966605,19.1657756 40,20.5777341 40,21.9894134 C40,23.4010928 39.4966605,24.8130512 38.4897748,25.9287108 L38.4897748,25.9287108 L24.7603479,41.0977856 C23.6123112,42.3645822 22.0567367,43 20.5000711,43 C18.9434056,43 17.3878311,42.3645822 16.2402196,41.0982551 L16.2402196,41.0982551 L2.50850431,25.9267497 C1.50209763,24.8207141 1,23.4152116 1,22.0079804 C1,20.5986743 1.50345555,19.1868946 2.51028051,18.0713394 L2.51028051,18.0713394 L16.2398114,2.90230932 C17.3878435,1.63545316 18.9434103,1 20.5000711,1 Z"
                id="Path"
                stroke="#F5F7FA"
                stroke-width="2"
                fill="#243B53"
              ></path>
              <path
                d="M15.3291439,14 C16.6237511,14.0850014 17.6552066,14.4255131 18.7084045,14.7233554 C19.6958536,15.0851174 20.6833026,15.4893801 21.5390803,15.9786442 C22.4607806,16.4255763 23.2508094,17.0000105 24.0406643,17.5531944 C24.8087769,18.148879 25.5328831,18.7659826 26.2131567,19.4468372 L29,22.2340069 L26.2131567,24.8510051 C24.8745257,26.1064626 23.3824809,27.2340807 21.6269192,28.1063572 C20.7930579,28.5745396 19.8494413,28.936133 18.8839084,29.297895 C17.8745431,29.5957373 16.8651778,29.8937482 15.6363541,30 L15.3291439,29.7021577 C17.8526268,26.9999895 20.5297149,24.4681614 23.119138,21.8509945 L23.119138,22.4468478 C20.3980434,19.7234291 17.6112002,17.085012 15,14.2765919 L15.3291439,14 Z"
                id="Path"
                fill="#F5F7FA"
              ></path>
            </g>
          </g>
        </svg>
      </button>
    </button>



    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >



     <button style=" border-style: none!important;background-color: none;background-color: white;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="40px"
          height="44px"
          viewBox="0 0 44 44"
          version="1.1"

        >
          <title>button / arrow primary hover</title>
          <g
            id="button-/-arrow-primary-hover"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="LightBG"
              transform="translate(2.000000, 0.000000)"
              fill-rule="nonzero"
            >
              <path
                d="M20.5000711,1 C22.056732,1 23.6122988,1.63545316 24.7603897,2.90237424 L24.7603897,2.90237424 L38.4888192,18.0490587 C39.4966605,19.1657756 40,20.5777341 40,21.9894134 C40,23.4010928 39.4966605,24.8130512 38.4897748,25.9287108 L38.4897748,25.9287108 L24.7603479,41.0977856 C23.6123112,42.3645822 22.0567367,43 20.5000711,43 C18.9434056,43 17.3878311,42.3645822 16.2402196,41.0982551 L16.2402196,41.0982551 L2.50850431,25.9267497 C1.50209763,24.8207141 1,23.4152116 1,22.0079804 C1,20.5986743 1.50345555,19.1868946 2.51028051,18.0713394 L2.51028051,18.0713394 L16.2398114,2.90230932 C17.3878435,1.63545316 18.9434103,1 20.5000711,1 Z"
                id="Path"
                stroke="#F5F7FA"
                stroke-width="2"
                fill="#243B53"
              ></path>
              <path
                d="M15.3291439,14 C16.6237511,14.0850014 17.6552066,14.4255131 18.7084045,14.7233554 C19.6958536,15.0851174 20.6833026,15.4893801 21.5390803,15.9786442 C22.4607806,16.4255763 23.2508094,17.0000105 24.0406643,17.5531944 C24.8087769,18.148879 25.5328831,18.7659826 26.2131567,19.4468372 L29,22.2340069 L26.2131567,24.8510051 C24.8745257,26.1064626 23.3824809,27.2340807 21.6269192,28.1063572 C20.7930579,28.5745396 19.8494413,28.936133 18.8839084,29.297895 C17.8745431,29.5957373 16.8651778,29.8937482 15.6363541,30 L15.3291439,29.7021577 C17.8526268,26.9999895 20.5297149,24.4681614 23.119138,21.8509945 L23.119138,22.4468478 C20.3980434,19.7234291 17.6112002,17.085012 15,14.2765919 L15.3291439,14 Z"
                id="Path"
                fill="#F5F7FA"
              ></path>
            </g>
          </g>
        </svg>
      </button>
    </button>
  </div>
</div>
<br /><br />
<div class="container">
  <div class="lastcards">
    <div id="innerlastcards">
      <br /><br />
      <h1><b>JOIN OUR EMAIL LIST</b></h1>
      <p>Be the first to hear abbout all the new Avatar development</p>
      <br />
      <button
        class="button primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <span class="test">Sign Up</span>
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                <div class="container">
                  <img
                    src="assets/icon as img.png"
                    height="100px"
                    style="margin-left: 180px"
                  />
                  <h4 style="align-items: center; color: black">
                    Stay In Touch
                  </h4>
                </div>
              </h1>
            </div>
            <div class="modal-body">
              <form [formGroup]="loginform" class="form" (ngSubmit)="submit()">
                <div class="container">
                  <h6 style="color: black">
                    Get our updates and you won't miss a thing.
                  </h6>
                  <input
                    type="text"
                    formControlName="email"
                    placeholder="Enter Email"
                  />

                  <span
                    style="color: red"
                    *ngIf="email && email.invalid && email.touched"
                    ><br /><i
                      class="fas fa-exclamation-circle"
                      style="font-size: 16px"
                    ></i
                    >Please enter your email address.</span
                  ><br />
                  <div>
                    <input
                      type="checkbox"
                      id="checkbox"
                      name="checkbox"
                      value="checkbox"
                    />
                    <label style="color: black" for="vehicle1">
                      Yes! I would like to receive updates, special offers, and
                      other information from 20th Century Studios and The Walt
                      Disney Family of Companies.</label
                    ><br /><br />
                    <h4 style="color: black; font-size: 20px">
                      By creating an account, I agree to the Terms of Use and
                      acknowledge that I have read the Privacy Policy.
                    </h4>
                  </div>

                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      [disabled]="loginform.invalid"
                      type="button"
                      (click)="submitfooter()"
                      type="button"
                      class="btn btn-primary"
                    >
                      Sign Me Up
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
