<br />
<div class="first" style="text-align: center;">
  “MORE SKY PEOPLE ARE GONNA COME. THEY'RE<br />
  GONNA COME LIKE A RAIN THAT NEVER ENDS."
  <br />
  <p style="font-size: 20px;">JAKE SULLY</p>
  <img [src]="Avatar" style="height: 90px;" class="img" />
</div>
<br /><br />

<div class="container">
  <div class="row mb-4">
    <div class="col-lg-6">
      <!-- Card-->
      <div class="card shadow-lg border-0 rounded">
        <div class="card-body p-0">
          <a href="https://www.darkhorse.com/Comics/3007-108/Avatar-The-Next-Shadow-1" target="_blank">
            <img [src]="card1" class="card-img-top img1" alt="Card2" />
          </a>

          <div class="bottom-left">
            <strong
              style="color: white; font-family: Arial, Helvetica, sans-serif;"
            >
              AVATAR AND DARK HORSE COMICS<br />
            </strong>
            <span
              style="font-size: 14px; color: white; font-family: sans-serif;"
              >Check out the cover for <i>Tsu'tey's Path</i>and
              <i>The Next Shadow</i>,available online and at a comic book
              retailer near you.</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Card-->
      <div class="card shadow-lg border-0 rounded">
        <div class="card-body p-0">
          <a href="https://disneyworld.disney.go.com/destinations/animal-kingdom/pandora-world-of-avatar/?CMP=AFC-DPFY22Q1DIENT0128&DISCID=DI_promo" target="_blank">

            <img [src]="card2" class="card-img-top img1" alt="Card2" />
          </a>
          <div class="bottom-left">
            <strong
              style="color: white; font-family: Arial, Helvetica, sans-serif;"
            >
              TRAVEL TO PANDORA-THE WORLD OF AVATAR<br />
            </strong>
            <span
              style="font-size: 14px; color: white; font-family: sans-serif;"
              >Explore the Valley of Mo'ara, meet the Shaman of Songs, and eat
              delicious Pandoran delicacies</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="secondcards">
  <div class="container">
    <div class="row pb-5 mb-4">
      <div class="col-lg-4">
        <!-- Card-->
        <div class="card shadow-lg border-0 rounded">
          <div class="card-body p-0">
            <a
              href="https://nav.disney.com/en/dcom/avatar-exit/aHR0cHM6Ly9hdmF0YXJyZWNrb25pbmcuY29t/OkU-UVFmSYDfOXy-nbCEGSxePTkA"
              target="_blank"
            >
              <img [src]="card2nd1" class="card-img-top img2" alt="Card2" />
            </a>

            <div class="bottom-left">
              <strong
                style="
                  font-size: 14px;
                  color: white;
                  font-family: Arial, Helvetica, sans-serif;
                "
              >
                AVATAR:RECKONING<br />
              </strong>
              <span
                style="font-size: 12px; color: white; font-family: sans-serif;"
                >Coming soon-a new mobie MMO set on Pandora from Archosaur Games
                and Level Infinite.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Card-->
        <div class="card shadow-lg border-0 rounded">
          <div class="card-body p-0">
            <a href="https://www.instagram.com/p/CKE6Wkdl0SK/" target="_blank"><img [src]="card2nd2" class="card-img-top img2" alt="Card2" /></a>

            <div class="bottom-left">
              <strong
                style="
                  font-size: 14px;
                  color: white;
                  font-family: Arial, Helvetica, sans-serif;
                "
              >
                AVATAR VIDEO CONFERENCE BACKGROUNDS<br />
              </strong>
              <span
                style="font-size: 12px; color: white; font-family: sans-serif;"
                >Want to call in from Pandora?Dowloads here!.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Card-->
        <div class="card shadow-lg border-0 rounded">
          <div class="card-body p-0">
            <a
              href="https://www.youtube.com/watch?v=FENKOk5ztLM"
              target="_blank"
            >
              <img [src]="card2nd3" class="card-img-top img2" alt="Card2"
            /></a>

            <div class="bottom-left">
              <strong
                style="
                  font-size: 14px;
                  color: white;
                  font-family: Arial, Helvetica, sans-serif;
                "
              >
                DARK HORSE AND LIGHTSTORAM ON TWITCH<br />
              </strong>
              <span
                style="font-size: 12px; color: white; font-family: sans-serif;"
                >Get the inside scoop on all things
                <i>Avatar:The Next Shadow</i></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
