<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="lastcards">
      <div id="innerlastcards">
        <img [src]="Avatar" id="test" />
        <p >
          Watch the brand-new teaser trailer for
          <I>Avatar:The Way of Water</I> in 3D on<br />
          December 16.
        </p>
        <br />

        <div>
          <a
          class="button primary"
          id="test2"
          style="text-align: center"
          href="https://nav.disney.com/en/dcom/avatar-exit/aHR0cHM6Ly93d3cuZmFuZGFuZ28uY29tL2F2YXRhci10aGUtd2F5LW9mLXdhdGVyLTIwMjItMTQ4ODU2L21vdmllLW92ZXJ2aWV3/l0W_4tuXUPkyTNY1KJCnGyIjM7QA"
        target="_blank">Get TICKETS</a>
        <a
          class="button primary"
          id="test2"
          style="text-align: center;padding-left: 10px;"

          href="https://www.youtube.com/watch?v=o5F8MOz_IDw&t=1s" target="_blank"
        >Watch Trailer</a>
      </div>

      </div>
    </div>




  </body>
</html>
